{
  "openapi": "3.0.1",
  "info": {
    "title": "Integration API - Server to Extole",
    "version": "1.0",
    "description": "Server-to-Extole integration endpoints: event submission, person lookup, zone rendering, token management, and reward retrieval for backend services authenticating with client credentials."
  },
  "servers": [
    {
      "url": "https://api.extole.io",
      "description": "Production"
    }
  ],
  "paths": {
    "/v2/rewards": {
      "get": {
        "tags": [
          "Rewards"
        ],
        "summary": "List rewards",
        "description": "Returns reward records for the client matching the specified query parameters.",
        "operationId": "listRewards",
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "description": "Filter by reward state(s). Repeat for multiple values (e.g. `EARNED`, `FULFILLED`).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reward_supplier_id",
            "in": "query",
            "description": "Filter by Extole reward supplier id(s). Repeat for multiple values.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "partner_reward_supplier_id",
            "in": "query",
            "description": "Filter by partner-assigned reward supplier id(s). Repeat for multiple values.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "person_id",
            "in": "query",
            "description": "Filter by Extole person id(s). Repeat for multiple values.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action_id",
            "in": "query",
            "description": "Filter by Extole action id(s). Repeat for multiple values.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "root_event_id",
            "in": "query",
            "description": "Filter by root event id(s). Repeat for multiple values.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "partner_reward_id",
            "in": "query",
            "description": "Filter by partner-assigned reward id(s). Repeat for multiple values.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reward_type",
            "in": "query",
            "description": "Filter by reward type(s). Repeat for multiple values.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "success_only",
            "in": "query",
            "description": "When true (default), include only rewards that were successfully fulfilled.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "time_interval",
            "in": "query",
            "description": "ISO 8601 time interval to restrict results to a date range (e.g. `P30D` for last 30 days).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of rewards to return. Defaults to 100.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of rewards to skip for pagination. Defaults to 0.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RewardResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "reward_state_invalid": {
                    "$ref": "#/components/examples/reward_state_invalid"
                  },
                  "reward_type_not_supported": {
                    "$ref": "#/components/examples/reward_type_not_supported"
                  },
                  "period_not_supported": {
                    "$ref": "#/components/examples/period_not_supported"
                  },
                  "period_count_invalid": {
                    "$ref": "#/components/examples/period_count_invalid"
                  },
                  "time_interval_invalid": {
                    "$ref": "#/components/examples/time_interval_invalid"
                  },
                  "invalid_limit": {
                    "$ref": "#/components/examples/invalid_limit"
                  },
                  "invalid_offset": {
                    "$ref": "#/components/examples/invalid_offset"
                  },
                  "max_fetch_size_1000": {
                    "$ref": "#/components/examples/max_fetch_size_1000"
                  },
                  "missing_request_body": {
                    "$ref": "#/components/examples/missing_request_body"
                  },
                  "invalid_parameter": {
                    "$ref": "#/components/examples/invalid_parameter"
                  },
                  "invalid_json": {
                    "$ref": "#/components/examples/invalid_json"
                  },
                  "binding_error": {
                    "$ref": "#/components/examples/binding_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-visibility": "visible"
      }
    },
    "/v2/rewards/custom-reward/{reward_id}/failed": {
      "post": {
        "tags": [
          "Rewards"
        ],
        "summary": "Mark custom reward failed",
        "description": "Marks the custom reward as failed, recording a fulfilment failure.",
        "operationId": "failCustomReward",
        "parameters": [
          {
            "name": "reward_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FailedRewardRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RewardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "reward_not_found": {
                    "$ref": "#/components/examples/reward_not_found"
                  },
                  "reward_supplier_not_found": {
                    "$ref": "#/components/examples/reward_supplier_not_found"
                  },
                  "reward_retry_not_supported": {
                    "$ref": "#/components/examples/reward_retry_not_supported"
                  },
                  "retry_claimed_reward_not_allowed": {
                    "$ref": "#/components/examples/retry_claimed_reward_not_allowed"
                  },
                  "reward_in_not_retryable_state": {
                    "$ref": "#/components/examples/reward_in_not_retryable_state"
                  },
                  "reward_illegal_state_transition": {
                    "$ref": "#/components/examples/reward_illegal_state_transition"
                  },
                  "sandbox_not_found": {
                    "$ref": "#/components/examples/sandbox_not_found"
                  },
                  "reward_state_invalid": {
                    "$ref": "#/components/examples/reward_state_invalid"
                  },
                  "reward_type_not_supported": {
                    "$ref": "#/components/examples/reward_type_not_supported"
                  },
                  "period_not_supported": {
                    "$ref": "#/components/examples/period_not_supported"
                  },
                  "period_count_invalid": {
                    "$ref": "#/components/examples/period_count_invalid"
                  },
                  "time_interval_invalid": {
                    "$ref": "#/components/examples/time_interval_invalid"
                  },
                  "missing_request_body": {
                    "$ref": "#/components/examples/missing_request_body"
                  },
                  "invalid_parameter": {
                    "$ref": "#/components/examples/invalid_parameter"
                  },
                  "invalid_json": {
                    "$ref": "#/components/examples/invalid_json"
                  },
                  "binding_error": {
                    "$ref": "#/components/examples/binding_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-visibility": "visible"
      }
    },
    "/v2/rewards/custom-reward/{reward_id}/fulfilled": {
      "post": {
        "tags": [
          "Rewards"
        ],
        "summary": "Mark custom reward fulfilled",
        "description": "Marks the custom reward as fulfilled, signalling that the client system has completed fulfilment.",
        "operationId": "fulfillCustomReward",
        "parameters": [
          {
            "name": "reward_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FulfilledRewardRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RewardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "reward_not_found": {
                    "$ref": "#/components/examples/reward_not_found"
                  },
                  "reward_supplier_not_found": {
                    "$ref": "#/components/examples/reward_supplier_not_found"
                  },
                  "reward_retry_not_supported": {
                    "$ref": "#/components/examples/reward_retry_not_supported"
                  },
                  "retry_claimed_reward_not_allowed": {
                    "$ref": "#/components/examples/retry_claimed_reward_not_allowed"
                  },
                  "reward_in_not_retryable_state": {
                    "$ref": "#/components/examples/reward_in_not_retryable_state"
                  },
                  "reward_illegal_state_transition": {
                    "$ref": "#/components/examples/reward_illegal_state_transition"
                  },
                  "sandbox_not_found": {
                    "$ref": "#/components/examples/sandbox_not_found"
                  },
                  "reward_state_invalid": {
                    "$ref": "#/components/examples/reward_state_invalid"
                  },
                  "reward_type_not_supported": {
                    "$ref": "#/components/examples/reward_type_not_supported"
                  },
                  "period_not_supported": {
                    "$ref": "#/components/examples/period_not_supported"
                  },
                  "period_count_invalid": {
                    "$ref": "#/components/examples/period_count_invalid"
                  },
                  "time_interval_invalid": {
                    "$ref": "#/components/examples/time_interval_invalid"
                  },
                  "missing_request_body": {
                    "$ref": "#/components/examples/missing_request_body"
                  },
                  "invalid_parameter": {
                    "$ref": "#/components/examples/invalid_parameter"
                  },
                  "invalid_json": {
                    "$ref": "#/components/examples/invalid_json"
                  },
                  "binding_error": {
                    "$ref": "#/components/examples/binding_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-visibility": "visible"
      }
    },
    "/v2/rewards/custom-reward/{reward_id}/fulfilled_and_sent": {
      "post": {
        "tags": [
          "Rewards"
        ],
        "summary": "Mark custom reward fulfilled and sent",
        "description": "Marks the custom reward as fulfilled and sent to the participant.",
        "operationId": "fulfillAndSendCustomReward",
        "parameters": [
          {
            "name": "reward_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FulfilledAndSentRewardRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RewardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "reward_not_found": {
                    "$ref": "#/components/examples/reward_not_found"
                  },
                  "reward_supplier_not_found": {
                    "$ref": "#/components/examples/reward_supplier_not_found"
                  },
                  "reward_retry_not_supported": {
                    "$ref": "#/components/examples/reward_retry_not_supported"
                  },
                  "retry_claimed_reward_not_allowed": {
                    "$ref": "#/components/examples/retry_claimed_reward_not_allowed"
                  },
                  "reward_in_not_retryable_state": {
                    "$ref": "#/components/examples/reward_in_not_retryable_state"
                  },
                  "reward_illegal_state_transition": {
                    "$ref": "#/components/examples/reward_illegal_state_transition"
                  },
                  "sandbox_not_found": {
                    "$ref": "#/components/examples/sandbox_not_found"
                  },
                  "reward_state_invalid": {
                    "$ref": "#/components/examples/reward_state_invalid"
                  },
                  "reward_type_not_supported": {
                    "$ref": "#/components/examples/reward_type_not_supported"
                  },
                  "period_not_supported": {
                    "$ref": "#/components/examples/period_not_supported"
                  },
                  "period_count_invalid": {
                    "$ref": "#/components/examples/period_count_invalid"
                  },
                  "time_interval_invalid": {
                    "$ref": "#/components/examples/time_interval_invalid"
                  },
                  "missing_request_body": {
                    "$ref": "#/components/examples/missing_request_body"
                  },
                  "invalid_parameter": {
                    "$ref": "#/components/examples/invalid_parameter"
                  },
                  "invalid_json": {
                    "$ref": "#/components/examples/invalid_json"
                  },
                  "binding_error": {
                    "$ref": "#/components/examples/binding_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-visibility": "visible"
      }
    },
    "/v2/rewards/custom-reward/{reward_id}/redeemed": {
      "post": {
        "tags": [
          "Rewards"
        ],
        "summary": "Mark custom reward redeemed",
        "description": "Marks the custom reward as redeemed by the participant.",
        "operationId": "redeemCustomReward",
        "parameters": [
          {
            "name": "reward_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RedeemedRewardRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RewardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "reward_not_found": {
                    "$ref": "#/components/examples/reward_not_found"
                  },
                  "reward_supplier_not_found": {
                    "$ref": "#/components/examples/reward_supplier_not_found"
                  },
                  "reward_retry_not_supported": {
                    "$ref": "#/components/examples/reward_retry_not_supported"
                  },
                  "retry_claimed_reward_not_allowed": {
                    "$ref": "#/components/examples/retry_claimed_reward_not_allowed"
                  },
                  "reward_in_not_retryable_state": {
                    "$ref": "#/components/examples/reward_in_not_retryable_state"
                  },
                  "reward_illegal_state_transition": {
                    "$ref": "#/components/examples/reward_illegal_state_transition"
                  },
                  "sandbox_not_found": {
                    "$ref": "#/components/examples/sandbox_not_found"
                  },
                  "reward_state_invalid": {
                    "$ref": "#/components/examples/reward_state_invalid"
                  },
                  "reward_type_not_supported": {
                    "$ref": "#/components/examples/reward_type_not_supported"
                  },
                  "period_not_supported": {
                    "$ref": "#/components/examples/period_not_supported"
                  },
                  "period_count_invalid": {
                    "$ref": "#/components/examples/period_count_invalid"
                  },
                  "time_interval_invalid": {
                    "$ref": "#/components/examples/time_interval_invalid"
                  },
                  "missing_request_body": {
                    "$ref": "#/components/examples/missing_request_body"
                  },
                  "invalid_parameter": {
                    "$ref": "#/components/examples/invalid_parameter"
                  },
                  "invalid_json": {
                    "$ref": "#/components/examples/invalid_json"
                  },
                  "binding_error": {
                    "$ref": "#/components/examples/binding_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-visibility": "visible"
      }
    },
    "/v2/rewards/custom-reward/{reward_id}/sent": {
      "post": {
        "tags": [
          "Rewards"
        ],
        "summary": "Mark custom reward sent",
        "description": "Marks the custom reward as sent to the participant.",
        "operationId": "sendCustomReward",
        "parameters": [
          {
            "name": "reward_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SentRewardRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RewardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "reward_not_found": {
                    "$ref": "#/components/examples/reward_not_found"
                  },
                  "reward_supplier_not_found": {
                    "$ref": "#/components/examples/reward_supplier_not_found"
                  },
                  "reward_retry_not_supported": {
                    "$ref": "#/components/examples/reward_retry_not_supported"
                  },
                  "retry_claimed_reward_not_allowed": {
                    "$ref": "#/components/examples/retry_claimed_reward_not_allowed"
                  },
                  "reward_in_not_retryable_state": {
                    "$ref": "#/components/examples/reward_in_not_retryable_state"
                  },
                  "reward_illegal_state_transition": {
                    "$ref": "#/components/examples/reward_illegal_state_transition"
                  },
                  "sandbox_not_found": {
                    "$ref": "#/components/examples/sandbox_not_found"
                  },
                  "reward_state_invalid": {
                    "$ref": "#/components/examples/reward_state_invalid"
                  },
                  "reward_type_not_supported": {
                    "$ref": "#/components/examples/reward_type_not_supported"
                  },
                  "period_not_supported": {
                    "$ref": "#/components/examples/period_not_supported"
                  },
                  "period_count_invalid": {
                    "$ref": "#/components/examples/period_count_invalid"
                  },
                  "time_interval_invalid": {
                    "$ref": "#/components/examples/time_interval_invalid"
                  },
                  "missing_request_body": {
                    "$ref": "#/components/examples/missing_request_body"
                  },
                  "invalid_parameter": {
                    "$ref": "#/components/examples/invalid_parameter"
                  },
                  "invalid_json": {
                    "$ref": "#/components/examples/invalid_json"
                  },
                  "binding_error": {
                    "$ref": "#/components/examples/binding_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-visibility": "visible"
      }
    },
    "/v2/rewards/state_summary": {
      "get": {
        "tags": [
          "Rewards"
        ],
        "summary": "Get reward state summary",
        "description": "Returns aggregate state counts for rewards on this client (e.g. earned, fulfilled, cancelled).",
        "operationId": "getRewardStateSummary",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "description": "Time period for grouping (e.g. `DAY`, `WEEK`, `MONTH`).",
            "schema": {
              "type": "string",
              "enum": [
                "DAY",
                "WEEK",
                "MONTH"
              ]
            }
          },
          {
            "name": "period_count",
            "in": "query",
            "description": "Number of periods to include in the summary.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End of the date range for the summary.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "success_only",
            "in": "query",
            "description": "When true, include only rewards that were successfully fulfilled.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "reward_supplier_id",
            "in": "query",
            "description": "Filter by one or more reward supplier ids (repeat the parameter for multiple values).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reward_type",
            "in": "query",
            "description": "Filter by one or more reward types (repeat the parameter for multiple values).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RewardStateSummaryResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "reward_state_invalid": {
                    "$ref": "#/components/examples/reward_state_invalid"
                  },
                  "reward_type_not_supported": {
                    "$ref": "#/components/examples/reward_type_not_supported"
                  },
                  "period_not_supported": {
                    "$ref": "#/components/examples/period_not_supported"
                  },
                  "period_count_invalid": {
                    "$ref": "#/components/examples/period_count_invalid"
                  },
                  "time_interval_invalid": {
                    "$ref": "#/components/examples/time_interval_invalid"
                  },
                  "missing_request_body": {
                    "$ref": "#/components/examples/missing_request_body"
                  },
                  "invalid_parameter": {
                    "$ref": "#/components/examples/invalid_parameter"
                  },
                  "invalid_json": {
                    "$ref": "#/components/examples/invalid_json"
                  },
                  "binding_error": {
                    "$ref": "#/components/examples/binding_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X GET \"https://api.extole.io/v2/rewards/state_summary\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  -H \"Accept: application/json\""
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "const response = await fetch(\"https://api.extole.io/v2/rewards/state_summary\", {\n  headers: { \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\" }\n});\nconst summary = await response.json();\nconsole.log(summary);"
          },
          {
            "lang": "python",
            "label": "Python (requests)",
            "source": "import requests\nresponse = requests.get(\n    \"https://api.extole.io/v2/rewards/state_summary\",\n    headers={\"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\"},\n)\nresponse.raise_for_status()\nprint(response.json())"
          }
        ],
        "x-extole-visibility": "visible"
      }
    },
    "/v2/rewards/{reward_id}": {
      "get": {
        "tags": [
          "Rewards"
        ],
        "summary": "Get a reward",
        "description": "Returns the reward record for the specified reward id, including its current state and history.",
        "operationId": "getReward",
        "parameters": [
          {
            "name": "reward_id",
            "in": "path",
            "description": "Extole-assigned unique identifier for the reward.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RewardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "reward_not_found": {
                    "$ref": "#/components/examples/reward_not_found"
                  },
                  "reward_supplier_not_found": {
                    "$ref": "#/components/examples/reward_supplier_not_found"
                  },
                  "reward_retry_not_supported": {
                    "$ref": "#/components/examples/reward_retry_not_supported"
                  },
                  "retry_claimed_reward_not_allowed": {
                    "$ref": "#/components/examples/retry_claimed_reward_not_allowed"
                  },
                  "reward_in_not_retryable_state": {
                    "$ref": "#/components/examples/reward_in_not_retryable_state"
                  },
                  "reward_illegal_state_transition": {
                    "$ref": "#/components/examples/reward_illegal_state_transition"
                  },
                  "sandbox_not_found": {
                    "$ref": "#/components/examples/sandbox_not_found"
                  },
                  "reward_state_invalid": {
                    "$ref": "#/components/examples/reward_state_invalid"
                  },
                  "reward_type_not_supported": {
                    "$ref": "#/components/examples/reward_type_not_supported"
                  },
                  "period_not_supported": {
                    "$ref": "#/components/examples/period_not_supported"
                  },
                  "period_count_invalid": {
                    "$ref": "#/components/examples/period_count_invalid"
                  },
                  "time_interval_invalid": {
                    "$ref": "#/components/examples/time_interval_invalid"
                  },
                  "missing_request_body": {
                    "$ref": "#/components/examples/missing_request_body"
                  },
                  "invalid_parameter": {
                    "$ref": "#/components/examples/invalid_parameter"
                  },
                  "invalid_json": {
                    "$ref": "#/components/examples/invalid_json"
                  },
                  "binding_error": {
                    "$ref": "#/components/examples/binding_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X GET \"https://api.extole.io/v2/rewards/REWARD_ID\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  -H \"Accept: application/json\""
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "const response = await fetch(\"https://api.extole.io/v2/rewards/REWARD_ID\", {\n  headers: { \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\" }\n});\nconst reward = await response.json();\nconsole.log(reward.reward_id, reward.state);"
          },
          {
            "lang": "python",
            "label": "Python (requests)",
            "source": "import requests\nresponse = requests.get(\n    \"https://api.extole.io/v2/rewards/REWARD_ID\",\n    headers={\"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\"},\n)\nresponse.raise_for_status()\nr = response.json()\nprint(r[\"reward_id\"], r[\"state\"])"
          }
        ],
        "x-extole-visibility": "visible"
      },
      "put": {
        "tags": [
          "Rewards"
        ],
        "summary": "Update a reward",
        "description": "Updates attributes on the specified reward record. Returns the updated reward.",
        "operationId": "updateReward",
        "parameters": [
          {
            "name": "reward_id",
            "in": "path",
            "description": "Extole-assigned unique identifier for the reward.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Reward update request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RewardUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RewardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "reward_not_found": {
                    "$ref": "#/components/examples/reward_not_found"
                  },
                  "reward_supplier_not_found": {
                    "$ref": "#/components/examples/reward_supplier_not_found"
                  },
                  "reward_retry_not_supported": {
                    "$ref": "#/components/examples/reward_retry_not_supported"
                  },
                  "retry_claimed_reward_not_allowed": {
                    "$ref": "#/components/examples/retry_claimed_reward_not_allowed"
                  },
                  "reward_in_not_retryable_state": {
                    "$ref": "#/components/examples/reward_in_not_retryable_state"
                  },
                  "reward_illegal_state_transition": {
                    "$ref": "#/components/examples/reward_illegal_state_transition"
                  },
                  "sandbox_not_found": {
                    "$ref": "#/components/examples/sandbox_not_found"
                  },
                  "missing_request_body": {
                    "$ref": "#/components/examples/missing_request_body"
                  },
                  "invalid_parameter": {
                    "$ref": "#/components/examples/invalid_parameter"
                  },
                  "invalid_json": {
                    "$ref": "#/components/examples/invalid_json"
                  },
                  "binding_error": {
                    "$ref": "#/components/examples/binding_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "person_not_found": {
                    "$ref": "#/components/examples/person_not_found"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X PUT \"https://api.extole.io/v2/rewards/REWARD_ID\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Accept: application/json\" \\\n  -d '{\"sandbox\": \"false\"}'"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "const response = await fetch(\"https://api.extole.io/v2/rewards/REWARD_ID\", {\n  method: \"PUT\",\n  headers: {\n    \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\",\n    \"Content-Type\": \"application/json\",\n    \"Accept\": \"application/json\"\n  },\n  body: JSON.stringify({ sandbox: \"false\" })\n});\nconst reward = await response.json();\nconsole.log(reward.reward_id, reward.state);"
          },
          {
            "lang": "python",
            "label": "Python (requests)",
            "source": "import requests\nresponse = requests.put(\n    \"https://api.extole.io/v2/rewards/REWARD_ID\",\n    headers={\n        \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\",\n        \"Content-Type\": \"application/json\",\n        \"Accept\": \"application/json\",\n    },\n    json={\"sandbox\": \"false\"},\n)\nresponse.raise_for_status()\nr = response.json()\nprint(r[\"reward_id\"], r[\"state\"])"
          }
        ],
        "x-extole-visibility": "visible"
      }
    },
    "/v2/rewards/{reward_id}/cancel": {
      "post": {
        "tags": [
          "Rewards"
        ],
        "summary": "Cancel a reward",
        "description": "Cancels the specified reward, preventing fulfilment. Returns the updated reward record.",
        "operationId": "cancelReward",
        "parameters": [
          {
            "name": "reward_id",
            "in": "path",
            "description": "Extole-assigned unique identifier for the reward.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelRewardRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RewardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "reward_not_found": {
                    "$ref": "#/components/examples/reward_not_found"
                  },
                  "reward_supplier_not_found": {
                    "$ref": "#/components/examples/reward_supplier_not_found"
                  },
                  "reward_retry_not_supported": {
                    "$ref": "#/components/examples/reward_retry_not_supported"
                  },
                  "retry_claimed_reward_not_allowed": {
                    "$ref": "#/components/examples/retry_claimed_reward_not_allowed"
                  },
                  "reward_in_not_retryable_state": {
                    "$ref": "#/components/examples/reward_in_not_retryable_state"
                  },
                  "reward_illegal_state_transition": {
                    "$ref": "#/components/examples/reward_illegal_state_transition"
                  },
                  "sandbox_not_found": {
                    "$ref": "#/components/examples/sandbox_not_found"
                  },
                  "reward_state_invalid": {
                    "$ref": "#/components/examples/reward_state_invalid"
                  },
                  "reward_type_not_supported": {
                    "$ref": "#/components/examples/reward_type_not_supported"
                  },
                  "period_not_supported": {
                    "$ref": "#/components/examples/period_not_supported"
                  },
                  "period_count_invalid": {
                    "$ref": "#/components/examples/period_count_invalid"
                  },
                  "time_interval_invalid": {
                    "$ref": "#/components/examples/time_interval_invalid"
                  },
                  "missing_request_body": {
                    "$ref": "#/components/examples/missing_request_body"
                  },
                  "invalid_parameter": {
                    "$ref": "#/components/examples/invalid_parameter"
                  },
                  "invalid_json": {
                    "$ref": "#/components/examples/invalid_json"
                  },
                  "binding_error": {
                    "$ref": "#/components/examples/binding_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X POST \"https://api.extole.io/v2/rewards/REWARD_ID/cancel\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Accept: application/json\" \\\n  -d '{\"message\": \"Cancelled due to order return\"}'"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "const response = await fetch(\"https://api.extole.io/v2/rewards/REWARD_ID/cancel\", {\n  method: \"POST\",\n  headers: {\n    \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\",\n    \"Content-Type\": \"application/json\",\n    \"Accept\": \"application/json\"\n  },\n  body: JSON.stringify({ message: \"Cancelled due to order return\" })\n});\nconst reward = await response.json();\nconsole.log(reward.reward_id, reward.state);"
          },
          {
            "lang": "python",
            "label": "Python (requests)",
            "source": "import requests\nresponse = requests.post(\n    \"https://api.extole.io/v2/rewards/REWARD_ID/cancel\",\n    headers={\n        \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\",\n        \"Content-Type\": \"application/json\",\n        \"Accept\": \"application/json\",\n    },\n    json={\"message\": \"Cancelled due to order return\"},\n)\nresponse.raise_for_status()\nr = response.json()\nprint(r[\"reward_id\"], r[\"state\"])"
          }
        ],
        "x-extole-visibility": "visible"
      }
    },
    "/v2/rewards/{reward_id}/cancels": {
      "get": {
        "tags": [
          "Rewards"
        ],
        "summary": "Get reward cancels",
        "description": "Returns the cancellation history for the specified reward.",
        "operationId": "getRewardCancels",
        "parameters": [
          {
            "name": "reward_id",
            "in": "path",
            "description": "Extole-assigned unique identifier for the reward.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CanceledRewardStateResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "reward_not_found": {
                    "$ref": "#/components/examples/reward_not_found"
                  },
                  "reward_supplier_not_found": {
                    "$ref": "#/components/examples/reward_supplier_not_found"
                  },
                  "reward_retry_not_supported": {
                    "$ref": "#/components/examples/reward_retry_not_supported"
                  },
                  "retry_claimed_reward_not_allowed": {
                    "$ref": "#/components/examples/retry_claimed_reward_not_allowed"
                  },
                  "reward_in_not_retryable_state": {
                    "$ref": "#/components/examples/reward_in_not_retryable_state"
                  },
                  "reward_illegal_state_transition": {
                    "$ref": "#/components/examples/reward_illegal_state_transition"
                  },
                  "sandbox_not_found": {
                    "$ref": "#/components/examples/sandbox_not_found"
                  },
                  "reward_state_invalid": {
                    "$ref": "#/components/examples/reward_state_invalid"
                  },
                  "reward_type_not_supported": {
                    "$ref": "#/components/examples/reward_type_not_supported"
                  },
                  "period_not_supported": {
                    "$ref": "#/components/examples/period_not_supported"
                  },
                  "period_count_invalid": {
                    "$ref": "#/components/examples/period_count_invalid"
                  },
                  "time_interval_invalid": {
                    "$ref": "#/components/examples/time_interval_invalid"
                  },
                  "missing_request_body": {
                    "$ref": "#/components/examples/missing_request_body"
                  },
                  "invalid_parameter": {
                    "$ref": "#/components/examples/invalid_parameter"
                  },
                  "invalid_json": {
                    "$ref": "#/components/examples/invalid_json"
                  },
                  "binding_error": {
                    "$ref": "#/components/examples/binding_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X GET \"https://api.extole.io/v2/rewards/REWARD_ID/cancels\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  -H \"Accept: application/json\""
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "const response = await fetch(\"https://api.extole.io/v2/rewards/REWARD_ID/cancels\", {\n  headers: { \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\" }\n});\nconst cancels = await response.json();\nconsole.log(cancels.length);"
          },
          {
            "lang": "python",
            "label": "Python (requests)",
            "source": "import requests\nresponse = requests.get(\n    \"https://api.extole.io/v2/rewards/REWARD_ID/cancels\",\n    headers={\"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\"},\n)\nresponse.raise_for_status()\nprint(len(response.json()))"
          }
        ],
        "x-extole-visibility": "visible"
      }
    },
    "/v2/rewards/{reward_id}/fails": {
      "get": {
        "tags": [
          "Rewards"
        ],
        "summary": "Get reward fails",
        "description": "Returns the fulfilment failure history for the specified reward.",
        "operationId": "getRewardFails",
        "parameters": [
          {
            "name": "reward_id",
            "in": "path",
            "description": "Extole-assigned unique identifier for the reward.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FailedRewardStateResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "reward_not_found": {
                    "$ref": "#/components/examples/reward_not_found"
                  },
                  "reward_supplier_not_found": {
                    "$ref": "#/components/examples/reward_supplier_not_found"
                  },
                  "reward_retry_not_supported": {
                    "$ref": "#/components/examples/reward_retry_not_supported"
                  },
                  "retry_claimed_reward_not_allowed": {
                    "$ref": "#/components/examples/retry_claimed_reward_not_allowed"
                  },
                  "reward_in_not_retryable_state": {
                    "$ref": "#/components/examples/reward_in_not_retryable_state"
                  },
                  "reward_illegal_state_transition": {
                    "$ref": "#/components/examples/reward_illegal_state_transition"
                  },
                  "sandbox_not_found": {
                    "$ref": "#/components/examples/sandbox_not_found"
                  },
                  "reward_state_invalid": {
                    "$ref": "#/components/examples/reward_state_invalid"
                  },
                  "reward_type_not_supported": {
                    "$ref": "#/components/examples/reward_type_not_supported"
                  },
                  "period_not_supported": {
                    "$ref": "#/components/examples/period_not_supported"
                  },
                  "period_count_invalid": {
                    "$ref": "#/components/examples/period_count_invalid"
                  },
                  "time_interval_invalid": {
                    "$ref": "#/components/examples/time_interval_invalid"
                  },
                  "missing_request_body": {
                    "$ref": "#/components/examples/missing_request_body"
                  },
                  "invalid_parameter": {
                    "$ref": "#/components/examples/invalid_parameter"
                  },
                  "invalid_json": {
                    "$ref": "#/components/examples/invalid_json"
                  },
                  "binding_error": {
                    "$ref": "#/components/examples/binding_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X GET \"https://api.extole.io/v2/rewards/REWARD_ID/fails\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  -H \"Accept: application/json\""
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "const response = await fetch(\"https://api.extole.io/v2/rewards/REWARD_ID/fails\", {\n  headers: { \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\" }\n});\nconst fails = await response.json();\nconsole.log(fails.length);"
          },
          {
            "lang": "python",
            "label": "Python (requests)",
            "source": "import requests\nresponse = requests.get(\n    \"https://api.extole.io/v2/rewards/REWARD_ID/fails\",\n    headers={\"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\"},\n)\nresponse.raise_for_status()\nprint(len(response.json()))"
          }
        ],
        "x-extole-visibility": "visible"
      }
    },
    "/v2/rewards/{reward_id}/fulfillments": {
      "get": {
        "tags": [
          "Rewards"
        ],
        "summary": "Get reward fulfillments",
        "description": "Returns the fulfilment records for the specified reward.",
        "operationId": "getRewardFulfillments",
        "parameters": [
          {
            "name": "reward_id",
            "in": "path",
            "description": "Extole-assigned unique identifier for the reward.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FulfilledRewardStateResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "reward_not_found": {
                    "$ref": "#/components/examples/reward_not_found"
                  },
                  "reward_supplier_not_found": {
                    "$ref": "#/components/examples/reward_supplier_not_found"
                  },
                  "reward_retry_not_supported": {
                    "$ref": "#/components/examples/reward_retry_not_supported"
                  },
                  "retry_claimed_reward_not_allowed": {
                    "$ref": "#/components/examples/retry_claimed_reward_not_allowed"
                  },
                  "reward_in_not_retryable_state": {
                    "$ref": "#/components/examples/reward_in_not_retryable_state"
                  },
                  "reward_illegal_state_transition": {
                    "$ref": "#/components/examples/reward_illegal_state_transition"
                  },
                  "sandbox_not_found": {
                    "$ref": "#/components/examples/sandbox_not_found"
                  },
                  "reward_state_invalid": {
                    "$ref": "#/components/examples/reward_state_invalid"
                  },
                  "reward_type_not_supported": {
                    "$ref": "#/components/examples/reward_type_not_supported"
                  },
                  "period_not_supported": {
                    "$ref": "#/components/examples/period_not_supported"
                  },
                  "period_count_invalid": {
                    "$ref": "#/components/examples/period_count_invalid"
                  },
                  "time_interval_invalid": {
                    "$ref": "#/components/examples/time_interval_invalid"
                  },
                  "missing_request_body": {
                    "$ref": "#/components/examples/missing_request_body"
                  },
                  "invalid_parameter": {
                    "$ref": "#/components/examples/invalid_parameter"
                  },
                  "invalid_json": {
                    "$ref": "#/components/examples/invalid_json"
                  },
                  "binding_error": {
                    "$ref": "#/components/examples/binding_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X GET \"https://api.extole.io/v2/rewards/REWARD_ID/fulfillments\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  -H \"Accept: application/json\""
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "const response = await fetch(\"https://api.extole.io/v2/rewards/REWARD_ID/fulfillments\", {\n  headers: { \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\" }\n});\nconst fulfillments = await response.json();\nconsole.log(fulfillments.length);"
          },
          {
            "lang": "python",
            "label": "Python (requests)",
            "source": "import requests\nresponse = requests.get(\n    \"https://api.extole.io/v2/rewards/REWARD_ID/fulfillments\",\n    headers={\"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\"},\n)\nresponse.raise_for_status()\nprint(len(response.json()))"
          }
        ],
        "x-extole-visibility": "visible"
      }
    },
    "/v2/rewards/{reward_id}/history": {
      "get": {
        "tags": [
          "Rewards"
        ],
        "summary": "Get reward state history",
        "description": "Returns the full state-transition history for the specified reward.",
        "operationId": "getRewardStateHistory",
        "parameters": [
          {
            "name": "reward_id",
            "in": "path",
            "description": "Extole-assigned unique identifier for the reward.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RewardStateResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "reward_not_found": {
                    "$ref": "#/components/examples/reward_not_found"
                  },
                  "reward_supplier_not_found": {
                    "$ref": "#/components/examples/reward_supplier_not_found"
                  },
                  "reward_retry_not_supported": {
                    "$ref": "#/components/examples/reward_retry_not_supported"
                  },
                  "retry_claimed_reward_not_allowed": {
                    "$ref": "#/components/examples/retry_claimed_reward_not_allowed"
                  },
                  "reward_in_not_retryable_state": {
                    "$ref": "#/components/examples/reward_in_not_retryable_state"
                  },
                  "reward_illegal_state_transition": {
                    "$ref": "#/components/examples/reward_illegal_state_transition"
                  },
                  "sandbox_not_found": {
                    "$ref": "#/components/examples/sandbox_not_found"
                  },
                  "reward_state_invalid": {
                    "$ref": "#/components/examples/reward_state_invalid"
                  },
                  "reward_type_not_supported": {
                    "$ref": "#/components/examples/reward_type_not_supported"
                  },
                  "period_not_supported": {
                    "$ref": "#/components/examples/period_not_supported"
                  },
                  "period_count_invalid": {
                    "$ref": "#/components/examples/period_count_invalid"
                  },
                  "time_interval_invalid": {
                    "$ref": "#/components/examples/time_interval_invalid"
                  },
                  "missing_request_body": {
                    "$ref": "#/components/examples/missing_request_body"
                  },
                  "invalid_parameter": {
                    "$ref": "#/components/examples/invalid_parameter"
                  },
                  "invalid_json": {
                    "$ref": "#/components/examples/invalid_json"
                  },
                  "binding_error": {
                    "$ref": "#/components/examples/binding_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X GET \"https://api.extole.io/v2/rewards/REWARD_ID/history\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  -H \"Accept: application/json\""
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "const response = await fetch(\"https://api.extole.io/v2/rewards/REWARD_ID/history\", {\n  headers: { \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\" }\n});\nconst history = await response.json();\nconsole.log(history.length);"
          },
          {
            "lang": "python",
            "label": "Python (requests)",
            "source": "import requests\nresponse = requests.get(\n    \"https://api.extole.io/v2/rewards/REWARD_ID/history\",\n    headers={\"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\"},\n)\nresponse.raise_for_status()\nprint(len(response.json()))"
          }
        ],
        "x-extole-visibility": "visible"
      }
    },
    "/v2/rewards/{reward_id}/redeems": {
      "get": {
        "tags": [
          "Rewards"
        ],
        "summary": "Get reward redeems",
[...]
