{
  "openapi": "3.0.1",
  "info": {
    "title": "Management Expert API",
    "version": "1.0",
    "description": "Advanced configuration endpoints for Extole platform experts: campaign controllers, typed actions and triggers, advanced component types and facets, source mapping, report post-handlers, pre-handlers, and other expert configuration surfaces not included in the standard Management API."
  },
  "servers": [
    {
      "url": "https://api.extole.io",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/client-domain-patterns": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "List client domain patterns",
        "description": "Returns all domain pattern definitions for the calling client. Domain patterns define which URL patterns the Extole platform recognises as belonging to this client — they control campaign-tracking domain matching, shareable link generation, and zone-rendering domain allow-listing. Each entry includes its `pattern`, `type` (`GLOB`, `DOMAIN`, or `SUB_DOMAIN`), and the optional `client_domain_id` that links it to a specific program domain configuration.",
        "operationId": "listClientDomainPatterns",
        "parameters": [
          {
            "name": "client_domain_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_archived",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientDomainPatternResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_request_body": {
                    "$ref": "#/components/examples/missing_request_body"
                  },
                  "invalid_parameter": {
                    "$ref": "#/components/examples/invalid_parameter"
                  },
                  "invalid_json": {
                    "$ref": "#/components/examples/invalid_json"
                  },
                  "binding_error": {
                    "$ref": "#/components/examples/binding_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle": "management-expert",
        "x-extole-visibility": "expert",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl \"https://api.extole.io/v1/client-domain-patterns\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  -H \"Accept: application/json\""
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "const response = await fetch(\"https://api.extole.io/v1/client-domain-patterns\", {\n  headers: { \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\" }\n});\nconst patterns = await response.json();\nconsole.log(patterns.length);"
          },
          {
            "lang": "python",
            "label": "Python (requests)",
            "source": "import requests\nresponse = requests.get(\n    \"https://api.extole.io/v1/client-domain-patterns\",\n    headers={\"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\"},\n)\nresponse.raise_for_status()\nprint(len(response.json()))"
          }
        ]
      },
      "post": {
        "tags": [
          "Domains"
        ],
        "summary": "Create client domain pattern",
        "description": "Creates a new domain pattern definition and returns the persisted record with its server-assigned id. The `pattern` field is required. `type` defaults to `GLOB` when omitted. Set `test=true` to create a test-only pattern that is not used in production domain matching. The pattern must be buildable; complex `BuildtimeEvaluatable` expressions are evaluated at build time.",
        "operationId": "createClientDomainPattern",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientDomainPatternCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientDomainPatternResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "component_facets_not_found": {
                    "$ref": "#/components/examples/component_facets_not_found"
                  },
                  "invalid_component_reference": {
                    "$ref": "#/components/examples/invalid_component_reference"
                  },
                  "invalid_external_component_reference": {
                    "$ref": "#/components/examples/invalid_external_component_reference"
                  },
                  "orphan_external_component_reference": {
                    "$ref": "#/components/examples/orphan_external_component_reference"
                  },
                  "excessive_component_reference": {
                    "$ref": "#/components/examples/excessive_component_reference"
                  },
                  "self_component_reference": {
                    "$ref": "#/components/examples/self_component_reference"
                  },
                  "redundant_component_reference": {
                    "$ref": "#/components/examples/redundant_component_reference"
                  },
                  "circular_component_reference": {
                    "$ref": "#/components/examples/circular_component_reference"
                  },
                  "campaign_component_name_out_of_range": {
                    "$ref": "#/components/examples/campaign_component_name_out_of_range"
                  },
                  "campaign_component_display_name_out_of_range": {
                    "$ref": "#/components/examples/campaign_component_display_name_out_of_range"
                  },
                  "campaign_component_description_out_of_range": {
                    "$ref": "#/components/examples/campaign_component_description_out_of_range"
                  },
                  "campaign_component_name_already_in_use": {
                    "$ref": "#/components/examples/campaign_component_name_already_in_use"
                  },
                  "campaign_component_name_contains_illegal_character": {
                    "$ref": "#/components/examples/campaign_component_name_contains_illegal_character"
                  },
                  "campaign_component_display_name_contains_illegal_character": {
                    "$ref": "#/components/examples/campaign_component_display_name_contains_illegal_character"
                  },
                  "campaign_component_absolute_name_missing": {
                    "$ref": "#/components/examples/campaign_component_absolute_name_missing"
                  },
                  "campaign_component_id_missing": {
                    "$ref": "#/components/examples/campaign_component_id_missing"
                  },
                  "external_elements_cannot_have_multiple_references": {
                    "$ref": "#/components/examples/external_elements_cannot_have_multiple_references"
                  },
                  "external_element_is_referenced_by_active_configuration": {
                    "$ref": "#/components/examples/external_element_is_referenced_by_active_configuration"
                  },
                  "campaign_component_type_validation_failed": {
                    "$ref": "#/components/examples/campaign_component_type_validation_failed"
                  },
                  "invalid_component_reference_socket_name": {
                    "$ref": "#/components/examples/invalid_component_reference_socket_name"
                  },
                  "invalid_component_installed_into_socket": {
                    "$ref": "#/components/examples/invalid_component_installed_into_socket"
                  },
                  "missing_client_domain_pattern": {
                    "$ref": "#/components/examples/missing_client_domain_pattern"
                  },
                  "invalid_client_domain_pattern_syntax": {
                    "$ref": "#/components/examples/invalid_client_domain_pattern_syntax"
                  },
                  "invalid_client_domain_pattern_domain": {
                    "$ref": "#/components/examples/invalid_client_domain_pattern_domain"
                  },
                  "client_domain_pattern_build_failed": {
                    "$ref": "#/components/examples/client_domain_pattern_build_failed"
                  },
                  "missing_request_body": {
                    "$ref": "#/components/examples/missing_request_body"
                  },
                  "invalid_parameter": {
                    "$ref": "#/components/examples/invalid_parameter"
                  },
                  "invalid_json": {
                    "$ref": "#/components/examples/invalid_json"
                  },
                  "binding_error": {
                    "$ref": "#/components/examples/binding_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle": "management-expert",
        "x-extole-visibility": "expert",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X POST \"https://api.extole.io/v1/client-domain-patterns\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Accept: application/json\" \\\n  -d '{\"pattern\": \"https://example.com/*\", \"type\": \"GLOB\"}'"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "const response = await fetch(\"https://api.extole.io/v1/client-domain-patterns\", {\n  method: \"POST\",\n  headers: {\n    \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\",\n    \"Content-Type\": \"application/json\",\n    \"Accept\": \"application/json\"\n  },\n  body: JSON.stringify({ pattern: \"https://example.com/*\", type: \"GLOB\" })\n});\nconst pattern = await response.json();\nconsole.log(pattern.id);"
          },
          {
            "lang": "python",
            "label": "Python (requests)",
            "source": "import requests\nresponse = requests.post(\n    \"https://api.extole.io/v1/client-domain-patterns\",\n    headers={\n        \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\",\n        \"Content-Type\": \"application/json\",\n        \"Accept\": \"application/json\",\n    },\n    json={\"pattern\": \"https://example.com/*\", \"type\": \"GLOB\"},\n)\nresponse.raise_for_status()\nprint(response.json()[\"id\"])"
          }
        ]
      }
    },
    "/v1/client-domain-patterns/built": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "List built client domain patterns",
        "description": "Returns all domain patterns in their fully evaluated (built) runtime form, with all `BuildtimeEvaluatable` fields resolved to their current string values. Use this when the calling system needs the effective pattern expressions rather than the source template definitions. Use `GET /v1/client-domain-patterns` for the editable source definitions.",
        "operationId": "listBuiltClientDomainPatterns",
        "parameters": [
          {
            "name": "client_domain_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_archived",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BuiltClientDomainPatternResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_request_body": {
                    "$ref": "#/components/examples/missing_request_body"
                  },
                  "invalid_parameter": {
                    "$ref": "#/components/examples/invalid_parameter"
                  },
                  "invalid_json": {
                    "$ref": "#/components/examples/invalid_json"
                  },
                  "binding_error": {
                    "$ref": "#/components/examples/binding_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle": "management-expert",
        "x-extole-visibility": "expert",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl \"https://api.extole.io/v1/client-domain-patterns/built\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  -H \"Accept: application/json\""
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "const response = await fetch(\"https://api.extole.io/v1/client-domain-patterns/built\", {\n  headers: { \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\" }\n});\nconst patterns = await response.json();\nconsole.log(patterns.length);"
          },
          {
            "lang": "python",
            "label": "Python (requests)",
            "source": "import requests\nresponse = requests.get(\n    \"https://api.extole.io/v1/client-domain-patterns/built\",\n    headers={\"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\"},\n)\nresponse.raise_for_status()\nprint(len(response.json()))"
          }
        ]
      }
    },
    "/v1/client-domain-patterns/{id}": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Get client domain pattern",
        "description": "Returns the source definition for the supplied domain pattern, including its `pattern` expression, `type`, optional `client_domain_id`, and `test` flag. Returns `400 client_domain_pattern_not_found` if the id does not exist or is not accessible to the calling client. For the compiled runtime snapshot use `GET /v1/client-domain-patterns/{id}/built` instead.",
        "operationId": "getClientDomainPattern",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier of the client domain pattern to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client domain pattern source definition with its build-time pattern expression, domain type, and component references.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientDomainPatternResponse"
                }
              }
            }
          },
          "400": {
            "description": "The supplied `id` does not match an existing domain pattern for this client. Inspect the response `code` field for the specific error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "client_domain_pattern_not_found": {
                    "$ref": "#/components/examples/client_domain_pattern_not_found"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle": "management-expert",
        "x-extole-visibility": "expert",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl \"https://api.extole.io/v1/client-domain-patterns/PATTERN_ID\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  -H \"Accept: application/json\""
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "const response = await fetch(\"https://api.extole.io/v1/client-domain-patterns/PATTERN_ID\", {\n  headers: { \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\" }\n});\nconst pattern = await response.json();\nconsole.log(pattern.pattern);"
          },
          {
            "lang": "python",
            "label": "Python (requests)",
            "source": "import requests\nresponse = requests.get(\n    \"https://api.extole.io/v1/client-domain-patterns/PATTERN_ID\",\n    headers={\"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\"},\n)\nresponse.raise_for_status()\nprint(response.json()[\"pattern\"])"
          }
        ]
      },
      "put": {
        "tags": [
          "Domains"
        ],
        "summary": "Update client domain pattern",
        "description": "Applies a partial update to the supplied domain pattern. Only the fields present in the body are changed; omitted fields are left intact. Returns the updated pattern record on success. Returns `400 client_domain_pattern_not_found` if the id does not exist.",
        "operationId": "updateClientDomainPattern",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier of the client domain pattern to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientDomainPatternUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Client domain pattern source definition with its build-time pattern expression, domain type, and component references.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientDomainPatternResponse"
                }
              }
            }
          },
          "400": {
            "description": "The supplied `id` does not match an existing domain pattern for this client. Inspect the response `code` field for the specific error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "client_domain_pattern_not_found": {
                    "$ref": "#/components/examples/client_domain_pattern_not_found"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle": "management-expert",
        "x-extole-visibility": "expert",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X PUT \"https://api.extole.io/v1/client-domain-patterns/PATTERN_ID\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Accept: application/json\" \\\n  -d '{\"pattern\": \"https://example.com/**\"}'"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "const response = await fetch(\"https://api.extole.io/v1/client-domain-patterns/PATTERN_ID\", {\n  method: \"PUT\",\n  headers: {\n    \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\",\n    \"Content-Type\": \"application/json\",\n    \"Accept\": \"application/json\"\n  },\n  body: JSON.stringify({ pattern: \"https://example.com/**\" })\n});\nconst pattern = await response.json();\nconsole.log(pattern.pattern);"
          },
          {
            "lang": "python",
            "label": "Python (requests)",
            "source": "import requests\nresponse = requests.put(\n    \"https://api.extole.io/v1/client-domain-patterns/PATTERN_ID\",\n    headers={\n        \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\",\n        \"Content-Type\": \"application/json\",\n        \"Accept\": \"application/json\",\n    },\n    json={\"pattern\": \"https://example.com/**\"},\n)\nresponse.raise_for_status()\nprint(response.json()[\"pattern\"])"
          }
        ]
      },
      "delete": {
        "tags": [
          "Domains"
        ],
        "summary": "Archive client domain pattern",
        "description": "Soft-archives the supplied domain pattern. Archived patterns are retained but are no longer used in domain matching. Reversible via `POST /v1/client-domain-patterns/{id}/unarchive`. Returns the updated pattern record. Returns `400 client_domain_pattern_not_found` if the id does not exist.",
        "operationId": "archiveClientDomainPattern",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier of the client domain pattern to archive.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archived client domain pattern source definition.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientDomainPatternResponse"
                }
              }
            }
          },
          "400": {
            "description": "The supplied `id` does not match an existing domain pattern for this client. Inspect the response `code` field for the specific error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "client_domain_pattern_not_found": {
                    "$ref": "#/components/examples/client_domain_pattern_not_found"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle": "management-expert",
        "x-extole-visibility": "expert",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X DELETE \"https://api.extole.io/v1/client-domain-patterns/PATTERN_ID\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  -H \"Accept: application/json\""
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "const response = await fetch(\"https://api.extole.io/v1/client-domain-patterns/PATTERN_ID\", {\n  method: \"DELETE\",\n  headers: { \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\" }\n});\nconst pattern = await response.json();\nconsole.log(pattern.id);"
          },
          {
            "lang": "python",
            "label": "Python (requests)",
            "source": "import requests\nresponse = requests.delete(\n    \"https://api.extole.io/v1/client-domain-patterns/PATTERN_ID\",\n    headers={\"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\"},\n)\nresponse.raise_for_status()\nprint(response.json()[\"id\"])"
          }
        ]
      }
    },
    "/v1/client-domain-patterns/{id}/built": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Get built client domain pattern",
        "description": "Returns the fully evaluated (built) runtime form for the supplied domain pattern, with all `BuildtimeEvaluatable` fields resolved. Returns `400 client_domain_pattern_not_found` if the id does not exist or is not accessible to the calling client.",
        "operationId": "getBuiltClientDomainPattern",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier of the client domain pattern to retrieve in built form.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Built client domain pattern with evaluated runtime values used for domain matching.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuiltClientDomainPatternResponse"
                }
              }
            }
          },
          "400": {
            "description": "The supplied `id` does not match an existing domain pattern for this client. Inspect the response `code` field for the specific error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "client_domain_pattern_not_found": {
                    "$ref": "#/components/examples/client_domain_pattern_not_found"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle": "management-expert",
        "x-extole-visibility": "expert",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl \"https://api.extole.io/v1/client-domain-patterns/PATTERN_ID/built\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  -H \"Accept: application/json\""
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "const response = await fetch(\"https://api.extole.io/v1/client-domain-patterns/PATTERN_ID/built\", {\n  headers: { \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\" }\n});\nconst pattern = await response.json();\nconsole.log(pattern.pattern);"
          },
          {
            "lang": "python",
            "label": "Python (requests)",
            "source": "import requests\nresponse = requests.get(\n    \"https://api.extole.io/v1/client-domain-patterns/PATTERN_ID/built\",\n    headers={\"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\"},\n)\nresponse.raise_for_status()\nprint(response.json()[\"pattern\"])"
          }
        ]
      }
    },
    "/v1/client-domain-patterns/{id}/delete": {
      "post": {
        "tags": [
          "Domains"
        ],
        "summary": "Delete client domain pattern",
        "description": "Hard-deletes the supplied domain pattern. Unlike archiving, deletion is irreversible. Returns the deleted pattern record on success. Returns `400 client_domain_pattern_not_found` if the id does not exist.",
        "operationId": "deleteClientDomainPattern",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier of the client domain pattern to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted client domain pattern source definition.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientDomainPatternResponse"
                }
              }
            }
          },
          "400": {
            "description": "The supplied `id` does not match an existing domain pattern for this client. Inspect the response `code` field for the specific error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "client_domain_pattern_not_found": {
                    "$ref": "#/components/examples/client_domain_pattern_not_found"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle": "management-expert",
        "x-extole-visibility": "expert",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X POST \"https://api.extole.io/v1/client-domain-patterns/PATTERN_ID/delete\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  -H \"Accept: application/json\""
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "const response = await fetch(\"https://api.extole.io/v1/client-domain-patterns/PATTERN_ID/delete\", {\n  method: \"POST\",\n  headers: { \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\" }\n});\nconst pattern = await response.json();\nconsole.log(pattern.id);"
          },
          {
            "lang": "python",
            "label": "Python (requests)",
            "source": "import requests\nresponse = requests.post(\n    \"https://api.extole.io/v1/client-domain-patterns/PATTERN_ID/delete\",\n    headers={\"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\"},\n)\nresponse.raise_for_status()\nprint(response.json()[\"id\"])"
          }
        ]
      }
    },
    "/v1/client-domain-patterns/{id}/unarchive": {
      "post": {
        "tags": [
          "Domains"
        ],
        "summary": "Unarchive client domain pattern",
        "description": "Restores a previously archived domain pattern so it is active in domain matching again. Returns the restored pattern record. Returns `400 client_domain_pattern_not_found` if the id does not exist.",
        "operationId": "unarchiveClientDomainPattern",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier of the client domain pattern to unarchive.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Restored client domain pattern source definition.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientDomainPatternResponse"
                }
              }
            }
          },
          "400": {
            "description": "The supplied `id` does not match an existing domain pattern for this client. Inspect the response `code` field for the specific error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "client_domain_pattern_not_found": {
                    "$ref": "#/components/examples/client_domain_pattern_not_found"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle": "management-expert",
        "x-extole-visibility": "expert",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X POST \"https://api.extole.io/v1/client-domain-patterns/PATTERN_ID/unarchive\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  -H \"Accept: application/json\""
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "const response = await fetch(\"https://api.extole.io/v1/client-domain-patterns/PATTERN_ID/unarchive\", {\n  method: \"POST\",\n  headers: { \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\" }\n});\nconst pattern = await response.json();\nconsole.log(pattern.id);"
          },
          {
            "lang": "python",
            "label": "Python (requests)",
            "source": "import requests\nresponse = requests.post(\n    \"https://api.extole.io/v1/client-domain-patterns/PATTERN_ID/unarchive\",\n    headers={\"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\"},\n)\nresponse.raise_for_status()\nprint(response.json()[\"id\"])"
          }
        ]
      }
    },
    "/v1/component-facets": {
      "get": {
        "tags": [
          "Components"
        ],
        "summary": "List component categories",
        "description": "Returns component facet (category) definitions for the calling client. Facets group component types into logical categories shown in the campaign editor. Use `GET /v1/component-facets/default` to retrieve the platform-default categories.",
        "operationId": "listComponentFacets",
        "parameters": [
          {
            "name": "include_archived",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ComponentFacetResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_request_body": {
                    "$ref": "#/components/examples/missing_request_body"
                  },
                  "invalid_parameter": {
                    "$ref": "#/components/examples/invalid_parameter"
                  },
                  "invalid_json": {
                    "$ref": "#/components/examples/invalid_json"
                  },
                  "binding_error": {
                    "$ref": "#/components/examples/binding_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle": "management-expert",
        "x-extole-visibility": "expert",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X GET \"https://api.extole.io/v1/component-facets\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  -H \"Accept: application/json\""
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "const response = await fetch(\"https://api.extole.io/v1/component-facets\", {\n  headers: { \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\" }\n});\nconst facets = await response.json();\nconsole.log(facets.length);"
          },
          {
            "lang": "python",
            "label": "Python (requests)",
            "source": "import requests\nresponse = requests.get(\n    \"https://api.extole.io/v1/component-facets\",\n    headers={\"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\"},\n)\nresponse.raise_for_status()\nprint(len(response.json()))"
          }
        ]
      },
      "post": {
        "tags": [
          "Components"
        ],
        "summary": "Create a component category",
        "description": "Creates a new component facet (category) definition and returns the persisted record. Component facets group types shown in the campaign editor.",
        "operationId": "createComponentFacet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComponentFacetCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentFacetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "component_facet_not_found": {
                    "$ref": "#/components/examples/component_facet_not_found"
                  },
                  "facet_associated_with_components": {
                    "$ref": "#/components/examples/facet_associated_with_components"
                  },
                  "component_facets_not_found": {
                    "$ref": "#/components/examples/component_facets_not_found"
                  },
                  "invalid_component_reference": {
                    "$ref": "#/components/examples/invalid_component_reference"
                  },
                  "invalid_external_component_reference": {
                    "$ref": "#/components/examples/invalid_external_component_reference"
                  },
                  "orphan_external_component_reference": {
                    "$ref": "#/components/examples/orphan_external_component_reference"
                  },
                  "excessive_component_reference": {
                    "$ref": "#/components/examples/excessive_component_reference"
                  },
                  "self_component_reference": {
                    "$ref": "#/components/examples/self_component_reference"
                  },
                  "redundant_component_reference": {
                    "$ref": "#/components/examples/redundant_component_reference"
                  },
                  "circular_component_reference": {
                    "$ref": "#/components/examples/circular_component_reference"
                  },
                  "campaign_component_name_out_of_range": {
                    "$ref": "#/components/examples/campaign_component_name_out_of_range"
                  },
                  "campaign_component_display_name_out_of_range": {
                    "$ref": "#/components/examples/campaign_component_display_name_out_of_range"
                  },
                  "campaign_component_description_out_of_range": {
                    "$ref": "#/components/examples/campaign_component_description_out_of_range"
                  },
                  "campaign_component_name_already_in_use": {
                    "$ref": "#/components/examples/campaign_component_name_already_in_use"
                  },
                  "campaign_component_name_contains_illegal_character": {
                    "$ref": "#/components/examples/campaign_component_name_contains_illegal_character"
                  },
                  "campaign_component_display_name_contains_illegal_character": {
                    "$ref": "#/components/examples/campaign_component_display_name_contains_illegal_character"
                  },
                  "campaign_component_absolute_name_missing": {
                    "$ref": "#/components/examples/campaign_component_absolute_name_missing"
                  },
                  "campaign_component_id_missing": {
                    "$ref": "#/components/examples/campaign_component_id_missing"
                  },
                  "external_elements_cannot_have_multiple_references": {
                    "$ref": "#/components/examples/external_elements_cannot_have_multiple_references"
                  },
                  "external_element_is_referenced_by_active_configuration": {
                    "$ref": "#/components/examples/external_element_is_referenced_by_active_configuration"
                  },
                  "campaign_component_type_validation_failed": {
                    "$ref": "#/components/examples/campaign_component_type_validation_failed"
                  },
                  "invalid_component_reference_socket_name": {
                    "$ref": "#/components/examples/invalid_component_reference_socket_name"
                  },
                  "invalid_component_installed_into_socket": {
                    "$ref": "#/components/examples/invalid_component_installed_into_socket"
                  },
                  "component_facet_name_length_out_of_range": {
                    "$ref": "#/components/examples/component_facet_name_length_out_of_range"
                  },
                  "component_facet_display_name_length_out_of_range": {
                    "$ref": "#/components/examples/component_facet_display_name_length_out_of_range"
                  },
                  "component_facet_value_display_name_length_out_of_range": {
                    "$ref": "#/components/examples/component_facet_value_display_name_length_out_of_range"
                  },
                  "component_facet_value_color_invalid": {
                    "$ref": "#/components/examples/component_facet_value_color_invalid"
                  },
                  "component_facet_value_description_length_out_of_range": {
                    "$ref": "#/components/examples/component_facet_value_description_length_out_of_range"
                  },
                  "component_facet_value_icon_length_out_of_range": {
                    "$ref": "#/components/examples/component_facet_value_icon_length_out_of_range"
                  },
                  "component_facet_name_is_missing": {
                    "$ref": "#/components/examples/component_facet_name_is_missing"
                  },
                  "component_facet_name_already_exists": {
                    "$ref": "#/components/examples/component_facet_name_already_exists"
                  },
                  "component_facet_name_illegal_character": {
                    "$ref": "#/components/examples/component_facet_name_illegal_character"
                  },
                  "component_facet_value_length_out_of_range": {
                    "$ref": "#/components/examples/component_facet_value_length_out_of_range"
                  },
                  "component_facet_values_size_out_of_range": {
                    "$ref": "#/components/examples/component_facet_values_size_out_of_range"
                  },
                  "component_facet_value_illegal_character": {
                    "$ref": "#/components/examples/component_facet_value_illegal_character"
                  },
                  "component_facet_value_description_illegal_character": {
                    "$ref": "#/components/examples/component_facet_value_description_illegal_character"
                  },
                  "component_facet_value_icon_illegal_character": {
                    "$ref": "#/components/examples/component_facet_value_icon_illegal_character"
                  },
                  "missing_request_body": {
                    "$ref": "#/components/examples/missing_request_body"
                  },
                  "invalid_parameter": {
                    "$ref": "#/components/examples/invalid_parameter"
                  },
                  "invalid_json": {
                    "$ref": "#/components/examples/invalid_json"
                  },
                  "binding_error": {
                    "$ref": "#/components/examples/binding_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle": "management-expert",
        "x-extole-visibility": "expert",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X POST \"https://api.extole.io/v1/component-facets\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Accept: application/json\" \\\n  -d '{\"name\": \"my-facet\", \"label\": \"My Facet\"}'"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "const response = await fetch(\"https://api.extole.io/v1/component-facets\", {\n  method: \"POST\",\n  headers: {\n    \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\",\n    \"Content-Type\": \"application/json\",\n    \"Accept\": \"application/json\"\n  },\n  body: JSON.stringify({ name: \"my-facet\", label: \"My Facet\" })\n});\nconst facet = await response.json();\nconsole.log(facet.name);"
          },
          {
            "lang": "python",
            "label": "Python (requests)",
            "source": "import requests\nresponse = requests.post(\n    \"https://api.extole.io/v1/component-facets\",\n    headers={\n        \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\",\n        \"Content-Type\": \"application/json\",\n        \"Accept\": \"application/json\",\n    },\n    json={\"name\": \"my-facet\", \"label\": \"My Facet\"},\n)\nresponse.raise_for_status()\nprint(response.json()[\"name\"])"
          }
        ]
      }
    },
    "/v1/component-facets/default": {
      "get": {
        "tags": [
          "Components"
        ],
        "summary": "List default component categories",
        "description": "Returns the platform-default component facet (category) definitions. Default facets are provided by Extole and are available to all clients.",
        "operationId": "listDefaultComponentFacets",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ComponentFacetResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_request_body": {
                    "$ref": "#/components/examples/missing_request_body"
                  },
                  "invalid_parameter": {
                    "$ref": "#/components/examples/invalid_parameter"
                  },
                  "invalid_json": {
                    "$ref": "#/components/examples/invalid_json"
                  },
                  "binding_error": {
                    "$ref": "#/components/examples/binding_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle": "management-expert",
        "x-extole-visibility": "expert",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X GET \"https://api.extole.io/v1/component-facets/default\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  -H \"Accept: application/json\""
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "const response = await fetch(\"https://api.extole.io/v1/component-facets/default\", {\n  headers: { \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\" }\n});\nconst facets = await response.json();\nconsole.log(facets.length);"
          },
          {
            "lang": "python",
            "label": "Python (requests)",
            "source": "import requests\nresponse = requests.get(\n    \"https://api.extole.io/v1/component-facets/default\",\n    headers={\"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\"},\n)\nresponse.raise_for_status()\nprint(len(response.json()))"
          }
        ]
      }
    },
    "/v1/component-facets/{name}": {
      "get": {
        "tags": [
          "Components"
        ],
        "summary": "Get a component category",
        "description": "Returns the component facet (category) definition for the supplied name. Returns `400 component_facet_not_found` if the name does not match any accessible facet.",
        "operationId": "getComponentFacet",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Name of the component category to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Component facet definition that describes a campaign component category and its allowed values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentFacetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Component facet (category) was not found. The supplied name does not match any component facet accessible to the calling client.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "component_facet_not_found": {
                    "$ref": "#/components/examples/component_facet_not_found"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle": "management-expert",
        "x-extole-visibility": "expert",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X GET \"https://api.extole.io/v1/component-facets/FACET_NAME\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  -H \"Accept: application/json\""
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "const response = await fetch(\"https://api.extole.io/v1/component-facets/FACET_NAME\", {\n  headers: { \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\" }\n});\nconst facet = await response.json();\nconsole.log(facet.name);"
          },
          {
            "lang": "python",
            "label": "Python (requests)",
            "source": "import requests\nresponse = requests.get(\n    \"https://api.extole.io/v1/component-facets/FACET_NAME\",\n    headers={\"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\"},\n)\nresponse.raise_for_status()\nprint(response.json()[\"name\"])"
          }
        ]
      },
      "put": {
        "tags": [
          "Components"
        ],
        "summary": "Update a component category",
        "description": "Applies a partial update to the supplied component facet. Returns `400 component_facet_not_found` if the name does not match any accessible facet.",
        "operationId": "updateComponentFacet",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Name of the component category to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComponentFacetUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Component facet definition that describes a campaign component category and its allowed values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentFacetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Component facet (category) was not found. The supplied name does not match any component facet accessible to the calling client.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "component_facet_not_found": {
                    "$ref": "#/components/examples/component_facet_not_found"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle": "management-expert",
        "x-extole-visibility": "expert",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X PUT \"https://api.extole.io/v1/component-facets/FACET_NAME\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Accept: application/json\" \\\n  -d '{\"label\": \"Updated Facet Label\"}'"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "const response = await fetch(\"https://api.extole.io/v1/component-facets/FACET_NAME\", {\n  method: \"PUT\",\n  headers: {\n    \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\",\n    \"Content-Type\": \"application/json\",\n    \"Accept\": \"application/json\"\n  },\n  body: JSON.stringify({ label: \"Updated Facet Label\" })\n});\nconst facet = await response.json();\nconsole.log(facet.name);"
          },
          {
            "lang": "python",
            "label": "Python (requests)",
            "source": "import requests\nresponse = requests.put(\n    \"https://api.extole.io/v1/component-facets/FACET_NAME\",\n    headers={\n        \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\",\n        \"Content-Type\": \"application/json\",\n        \"Accept\": \"application/json\",\n    },\n    json={\"label\": \"Updated Facet Label\"},\n)\nresponse.raise_for_status()\nprint(response.json()[\"name\"])"
          }
        ]
      },
      "delete": {
        "tags": [
          "Components"
        ],
        "summary": "Archive a component category",
        "description": "Archives the supplied component facet. Fails with `400 facet_associated_with_components` if the facet is still assigned to active components. Remove those associations before archiving. Returns the archived facet.",
        "operationId": "archiveComponentFacet",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Name of the component category to archive.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archived component facet definition.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentFacetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Cannot archive the component facet because it is still associated with one or more components. Remove those associations first.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "component_facet_not_found": {
                    "$ref": "#/components/examples/component_facet_not_found"
                  },
                  "facet_associated_with_components": {
                    "$ref": "#/components/examples/facet_associated_with_components"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle": "management-expert",
        "x-extole-visibility": "expert",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X DELETE \"https://api.extole.io/v1/component-facets/FACET_NAME\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  -H \"Accept: application/json\""
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "const response = await fetch(\"https://api.extole.io/v1/component-facets/FACET_NAME\", {\n  method: \"DELETE\",\n  headers: { \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\" }\n});\nconsole.log((await response.json()).name);"
          },
          {
            "lang": "python",
            "label": "Python (requests)",
            "source": "import requests\nresponse = requests.delete(\n    \"https://api.extole.io/v1/component-facets/FACET_NAME\",\n    headers={\"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\", \"Accept\": \"application/json\"},\n)\nresponse.raise_for_status()\nprint(response.json()[\"name\"])"
          }
        ]
      }
    },
    "/v1/component-grants": {
      "get": {
        "tags": [
          "Components"
        ],
        "summary": "List component grants",
        "description": "Returns all component grants for the current client.",
        "operationId": "listComponentGrants",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ComponentGrantResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
[...]
